body {
  background-image: url("./Asset/Whitepaint.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  margin-top: 0;
}


.container {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  width: 100%;
  font-family: monospace;
  align-items: center;
}

span {
  color: var(--color3)
}

nav {
  display: flex;
  padding-right: 5px;
}

nav ul {
  margin-top: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 40px;
  font-family: monospace;
  font-size: 140%;
  font-weight: bolder;
}

nav ul li:hover {
  transform: scale(1.2);
  color: black;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

.common {
  width: 48%;
  min-width: 48%;
  height: 150px;
  border: 5px solid;
  display: inline-block;
  margin-bottom: 5px;
}

.project-label {
  padding: 20px;
  margin-top: 10px;
  background-color: var(--color2);
  width: 35%;
  height: 85px;
}

.project-label h1 {
  margin-top: 0;
}

html {
  scroll-behavior: smooth;
}

#about {

  background-image: url(./Asset/Sea\ Pebels\ img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#portfolio {
  background-image: url(./Asset/coloured\ boards\ vertical\ img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#contact {
  background-image: url(./Asset/Sand\ texture\ img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#images {
  background-image: url(./Asset/Oceanimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Medium breakpoint */
@media screen and (max-width: 991px) {
  nav ul li {
    padding: 10px 10px;
  }

}

/* small breakpoint */
@media screen and (max-width: 767px) {
  .common {
    width: 100%;
  }
}

/* x-small breakpoint */
@media screen and (max-width: 575px) {
  .container {
    display: block;
  }
}


/* tried to include button on image but not responsive */
/*
.text-block {
  position: absolute;
  bottom: 0;
  right: 30px;
  background-color: rgb(119, 119, 26);
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
*/
h1 {
  margin-right: 50px;
  color: rgb(1, 1, 17);
  font-weight: bolder;
}

button {
  align-items: flex-end;
  margin-block-end: auto;
}

button {
  border: none;
  background-color: red;
  padding: 12px 30px;
  border-radius: 30px;
  color: aliceblue;
  font-weight: bold;
  font-size: 15px;
  transition: .1s;
}

button:hover {
  transform: scale(1.2);
  cursor: grab;

}

.about {
  padding: 60px;
  background-image: url(./Asset/Rocks\ .jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.main {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
  text-align: center;
}


:root {
  --color1: orange;
  --color2: rgb(126, 135, 160);
  --color3: rgb(62, 62, 228);
  --color4: yellow;
  --margin: 30px;

}

/*
    justify-content: end;
    justify-content: space-around;
    justify-content: space-between;
    */